<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @assistant.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @assistant.password %>
</p>

<p>
  <strong>Website:</strong>
  <%= @assistant.website %>
</p>

<p>
  <strong>Other:</strong>
  <%= @assistant.other %>
</p>

<p>
  <strong>About:</strong>
  <%= @assistant.about %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
